.statisticsContainer {
    max-width: 50%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.title {
    margin: 0;
    padding: 32px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    border-bottom: 1px solid #d3d5e3;

    background-color: #ffffff;
    color: #111111;
}

.statList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.statList>.statListItem,
.statList>.statListItemNoTitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    text-shadow: 0 0 4px #111111;
}

.statListItem:first-child {
    border-radius: 0 0 0 8px;
}

.statListItem:last-child {
    border-radius: 0 0 8px;
}

.statListItemNoTitle:first-child {
    border-radius: 8px 0 0 8px;
}

.statListItemNoTitle:last-child {
    border-radius: 0 8px 8px 0;
}

.label {
    padding-top: 20px;
    font-size: 16px;

    color: #ffffff;
}

.percentage {
    padding: 20px;
    font-size: 24px;
    font-weight: 700;

    color: #ffffff;
}